.pt-pomodoro {
  max-width: 370px;
  margin: 10% auto;
}

.pt-pomodoro-pause,
.pt-pomodoro-start {
  margin: auto;
  display: block;
}

.pt-visible-true {
  visibility: visible;
}

.pt-visible-false {
  visibility: hidden;
}
