.pt-pomodoro {
  max-width: 370px;
  margin: 10% auto;
}

.pt-pomodoro-pause,
.pt-pomodoro-start {
  margin: auto;
  display: block;
}

.pt-visible-true {
  visibility: visible;
}

.pt-visible-false {
  visibility: hidden;
}

.pt-space-fix,
.pt-screen {
  width: 100%;
}

.pt-action-bar {
  margin: 1rem;
}

.pt-pomodoro-start.pt-visible-false {
  display: none;
}

.pt-start-actions {
  display: flex;
  justify-content: space-around;
}
